!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/build/
!**/src/test/**/out/
!**src/test/**/bin/
!gradle/wrapper/gradle-wrapper.jar
**/Flutter/ephemeral/
**/Pods/
**/dgph
**/doc/api/
**/ios/Flutter/.last_build_id
**/xcuserdata/
*.aab
*.aar
*.ap_
*.apk
*.class
*.csproj.user
*.dex
*.hprof
*.iml
*.ipr
*.iws
*.log
*.pem
*.pid
*.pid.lock
*.pyc
*.seed
*.sqlite.db
*.swp
*.tsbuildinfo
.DS_Store
.apt_generated
.atom/
.build/
.buildlog/
.cache
.classpath
.cxx/
.dart_tool/
.env
.env*
.env*.local
.eslintcache
.externalNativeBuild
.factorypath
.flutter-plugins
.flutter-plugins-dependencies
.gradle
.gradle/
.history
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.kotlin
.navigation/
.next
.node_repl_history
.npm
.nuxt/
.parcel-cache/
.pnp.js
.project
.pub-cache/
.pub/
.settings
.springBeans
.sts4-cache
.svn/
.swc/
.swiftpm/
.vercel
.vs/
.vscode/
/.nb-gradle/
/.next/
/.pnp
/android/app/debug
/android/app/profile
/android/app/release
/build
/build/
/coverage
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
/node_modules
/out/
Debug/
HELP.md
Release/
TestResults/
__pycache__/
app.*.map.json
app.*.symbols
bin/
build/
captures/
coverage/
dist
env/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
logs
migrate_working_dir/
next-env.d.ts
node_modules/
npm-debug.log*
out/
pids
proguard/
release/
vcs.xml
venv/
yarn-debug.log*
yarn-error.log*
!*.[Cc]ache/
*.[Cc]ache
*.sln.docstates
*.suo
*.user
*.userosscache
flutter/ephemeral/
x64/
x86/
