*.aab
*.aar
*.ap_
*.apk
*.class
*.csproj.user
*.dex
*.hprof
*.iml
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.sqlite.db
*.tsbuildinfo
.DS_Store
.cache
.cxx/
.env
.env*
.env*.local
.eslintcache
.externalNativeBuild
.gradle
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.kotlin
.navigation/
.next
.node_repl_history
.npm
.parcel-cache/
.pnp.js
.swc/
.vercel
.vs/
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
Debug/
Release/
TestResults/
__pycache__/
bin/
build/
captures/
coverage/
dist
env/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
logs
next-env.d.ts
node_modules/
npm-debug.log*
out/
pids
proguard/
release/
vcs.xml
venv/
yarn-debug.log*
yarn-error.log*
