!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
*.aab
*.aar
*.ap_
*.apk
*.class
*.csproj.user
*.dex
*.hprof
*.iml
*.ipr
*.iws
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.sqlite.db
*.tsbuildinfo
.DS_Store
.apt_generated
.cache
.classpath
.cxx/
.env
.env*
.env*.local
.eslintcache
.externalNativeBuild
.factorypath
.gradle
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.kotlin
.navigation/
.next
.node_repl_history
.npm
.parcel-cache/
.pnp.js
.project
.settings
.springBeans
.sts4-cache
.swc/
.vercel
.vs/
.vscode/
/.nb-gradle/
/.next/
/.pnp
/build
/coverage
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
/node_modules
/out/
Debug/
HELP.md
Release/
TestResults/
__pycache__/
bin/
build/
captures/
coverage/
dist
env/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
logs
next-env.d.ts
node_modules/
npm-debug.log*
out/
pids
proguard/
release/
vcs.xml
venv/
yarn-debug.log*
yarn-error.log*
.nuxt/
